<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="SessionStateConnection" connectionString="Data Source=DEPT1-SVR6072;Initial Catalog=ProcessProxy;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=VIETBN-K53\SQLEXPRESS;Initial Catalog=Usolia障害者福祉システム;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="UsoliaMvc" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=UsoliaMvc;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="ProxyConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=ProcessProxy;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="ProcessConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=Process;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />-->
    <add name="UsoliaMvcLog" connectionString="Data Source=VIETBN-K53\SQLEXPRESS;Initial Catalog=UsoliaMvcLog;Integrated Security=True;" providerName="System.Data.SqlClient" />
    
    <add name="UsoliaMvc" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=UsoliaMvc;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="ProxyConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=ProcessProxy;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="ProcessConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=Process;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    
    <add name="DUP_UsoliaMvc" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=UsoliaMvc;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="DUP_ProxyConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=ProcessProxy;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
    <add name="DUP_ProcessConnection" connectionString="Data Source=DEPT1-SVR6059;Initial Catalog=Process;User ID=sa;Password=Abc12345;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="Version" value ="1.0.2.0" />
    <!--=====================-->
    <add key="Path" value ="D:\" />
    <add key="frmExport_Server" value ="Data Source=DEPT1-SVR6072;Initial Catalog=ProcessProxy;User ID=sa;Password=Abc12345" />
    <add key="frmExport_outputPath" value ="D:\Output" />
    <add key="frmExport_IsLocal" value ="True" />
    <add key="frmExport_User" value ="sa" />
    <add key="frmExport_Password" value ="Abc12345" />
    <!--=====================-->
    <add key="EXP_TWS_chkOneFile" value ="false" />
    
    <!--=====================-->
    <add key="DUP_Path" value ="D:\" />
    <add key="DUP_txtSourceCode" value ="111" />
    <add key="DUP_txtTgCode" value ="8282" />
    <add key="DUP_txtTgName1" value ="NAME1" />
    <add key="DUP_txtTgName2" value ="NAME2" />
    <add key="DUP_txtDate" value ="2018/09/04" />
    <add key="DUP_txtUser" value ="2" />
    <add key="DUP_txtOpid" value ="ADMIN" />
    <add key="DUP_chkMenu" value ="false" />
    <add key="DUP_chkKengen" value ="false" />
    <add key="DUP_chkUpdateDB" value ="false" />
    <add key="DUP_chkGenSource" value ="false" />
    <add key="DUP_chkAddPending" value ="false" />
<!--=====================-->
    <add key="Search_Path" value ="D:\1\SqlText.xml" />
    <add key="Search_txtOldCode" value ="311001" />
    <add key="Search_txtNewCode" value ="8282" />
    <add key="Search_radEndfile" value ="true" />
    <add key="Search_radContinuePG" value ="false" />
    <add key="Search_txtPGFrom" value ="0" />
    <add key="Search_txtPGTo" value ="999999999" />
    <!--=====================-->
    <add key="SETUP_V5_txtSource" value ="D:\" />
    <add key="SETUP_V5_txtDevenv2k5" value ="D:\" />

    <!--=====================-->
    <add key="UD_DATE" value ="SYSDATETIME()" />
    <add key="AD_DATE" value ="SYSDATETIME()" />
    <add key="OPID" value ="ITS" />
    <add key="UD_USER" value ="1" />
  </appSettings>
</configuration>